.buttonContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;

    margin-top: 20px;
}

.CategoriaTitulo{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
    color: aliceblue;
    text-decoration:underline;
}

.JogosEncontrados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 12px;
}