@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;

    background-image:
        linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
        url("https://images.unsplash.com/photo-1542751371-adc38448a05e");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;

    overflow-x: hidden;
}

/* LOGO */

.logo {
    font-family: 'Orbitron', sans-serif;

    text-align: center;

    font-size: 50px;

    margin-top: 20px;

    margin-bottom: 10px;

    color: white;

    text-shadow:
        0 0 10px #7c3aed,
        0 0 20px #7c3aed;

    letter-spacing: 2px;

    text-decoration:underline;
}

/* SUBTITULO */

.contador-jogos {
    font-size: 22px;

    margin-left: 30px;

    margin-top: 30px;

    color: #b892ff;

    text-align: center;

    letter-spacing: 2px;

    margin-bottom: 10px;
}

/* AREA DOS CARDS */
#center {

    display: flex;

    flex-wrap:wrap;

    justify-content: center;

    gap: 30px;
}

.Titulocatalogo{
    font-size: 30px;
    color:#7c3aed;
    margin-bottom: 20px;
    text-decoration:overline;
}

.Linkcat {

    text-decoration: none;

    display: flex;

    justify-content: center;

}

/*Celular*/

@media (max-width: 768px) {

.logo{
    font-size: 30px;
}

.contador-jogos{
    font-size: 20px;
}

}
