@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Orbitron:wght@400..900&display=swap');

.container {

    display: flex;

    justify-content: center;

    align-items: center;
    
    img {
    width: 300px;
    height: auto;
    }
}

.Traducao{
    font-family: 'Bebas Neue', sans-serif;

    font-size: 22px;

    color: #e2ca7b;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;

}

.Titulo{
    font-family: "Bebas Neue", system-ui;

    font-size: 66px;

    color: #d1d1d1;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;

}

.Descricao{
    font-family: 'Bebas Neue', sans-serif;

    font-size: 22px;

    color: #e2ca7b;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;
}

.Sinopse{
    font-family: 'Bebas Neue', sans-serif;

    font-size: 20px;

    color: #e2ca7b;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;

    padding-left: 30px;

    padding-right: 30px;
}

.buttonRetorne {

    display: inline-block;

    text-decoration: none;

    margin-bottom: 20px;

}

.buttonRetorne a {

    padding: 16px;

    border-radius: 14px;

    background: linear-gradient(135deg, #6d28d9, #4338ca);

    color: white;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    letter-spacing: 1px;

    margin-bottom: 50px;
}

.buttonRetorne a:hover {
    transform: translateY(-4px);

    background: linear-gradient(135deg, #7c3aed, #4f46e5);

}

.buttonRetorne a:active {
    transform: scale(0.98);
}

@media (max-width: 768px) {

    .Traducao {
    font-size: 45px;
    }

    .Titulo {
    font-size: larger;
    }

    .Descricao{
        font-size: 45px;
    }

    .Sinopse{
        font-size: 45px;
    }

}