@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.container {

    display: flex;

    justify-content: center;

    align-items: center;
    
    img {
    width: 300px;
    height: auto;
    }
}

.Traducao{
    font-family: 'Orbitron', sans-serif;

    font-size: 22px;

    color: #e2ca7b;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;

}

.Titulo{
    font-family: "Black Ops One", system-ui;

    font-size: 66px;

    color: #d1d1d1;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;

}

.Descricao{
    font-family: 'Orbitron', sans-serif;

    font-size: 22px;

    color: #e2ca7b;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;
}

.Sinopse{
    font-family: 'Orbitron', sans-serif;

    font-size: 22px;

    color: #e2ca7b;

    line-height: 1.5;

    margin: 10px 0;

    letter-spacing: 2px;
}

.buttonRetorne {

    display: inline-block;

    text-decoration: none;

    margin-bottom: 20px;

}

.buttonRetorne button {

    padding: 16px;

    border-radius: 14px;

    background: linear-gradient(135deg, #6d28d9, #4338ca);

    color: white;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    letter-spacing: 1px;

    margin-bottom: 50px;
}

.buttonRetorne:hover {
    transform: translateY(-4px);

    background: linear-gradient(135deg, #7c3aed, #4f46e5);

}

.buttonRetorne :active {
    transform: scale(0.98);
}