
.buttonSteam  {
    width: 200px;

    padding: 14px;

    border: none;

    border-radius: 14px;

    background: linear-gradient(135deg, #6d28d9, #4338ca);

    color: white;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    letter-spacing: 1px;

    box-shadow:
        0 0 10px rgba(109, 40, 217, 0.5);

    text-decoration: none;
}

.buttonSteam:hover {
    transform: translateY(-4px);

    background: linear-gradient(135deg, #7c3aed, #4f46e5);

    box-shadow:
        0 0 20px rgba(124, 58, 237, 0.8),
        0 0 40px rgba(79, 70, 229, 0.5);
}

.buttonSteam:active {
    transform: scale(0.98);
}

